<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content" id="app">
    <template>
        <el-table :data="tableData" style="width: 100%">
            <el-table-column label="类别Id" prop="cateId">
            </el-table-column>
            <el-table-column label="类别名" prop="cateName">
            </el-table-column>
            <el-table-column label="分类url" prop="cateUrl">
            </el-table-column>
            <el-table-column label="排序" prop="cateDesc">
            </el-table-column>
            <el-table-column label="创建时间" prop="creatAt">
            </el-table-column>
            <el-table-column label="创建人" prop="creatBy">
            </el-table-column>
            <el-table-column label="修改时间" prop="updateAt">
            </el-table-column>
            <el-table-column label="修改人" prop="updateBy">
            </el-table-column>
            <el-table-column align="right">
                <template slot="header" slot-scope="scope">
                    <el-input v-model="search" size="mini" placeholder="输入关键字搜索">
                    </el-input></template>
                <template slot-scope="scope">
                    <el-button type="text" @click="dialogVisible = true">点击打开 Dialog</el-button>
                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
</div>
</div>
<div th:include="include :: footer"></div>
<script>
    var Main = {
        data() {
            return {
                tableData: [],
                search:''
            }
        },
        methods: {
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            }
        },
        created: function () {
            var data = {
                pageNo:1,
                pageSize:10
            };
            let url = '/admin/category/list';
            this.$http.post(url, {
                params: data
            }).then(function (response) {
                var result = response.data;
                console.log(this);
                console.log(Main);
                this.tableData = result.result;
                console.log(this.tableData);
            }).catch(function (response) {
                console.error(response);
            });
        }
    }
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app');
</script>
<script type="text/javascript" src="/js/appjs/admin/category/category.js"></script>
</body>
</html>